<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The description of my page"/>

    <title ng-cloak>{{ $state.current.title }}</title>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/spinner.css" rel="stylesheet"/>
    <link href="~/Content/commentBox.css" rel="stylesheet"/>
    <link href="~/bower_components/toastr/toastr.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")




</head>
<body>
    <div>
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

<!--Other Bower files-->

<!--TODO: Inject all of this and point to deployment folder... -->
    <!-- Bower Packages -->

    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-resource/angular-resource.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="~/bower_components/angular-spinners/dist/angular-spinners.min.js"></script>
<script src="~/bower_components/toastr/toastr.min.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


<!-- 3rd Party Library Files -->
    
<!-- Model Classes -->
    <script src="~/app_development/models/FundTrackReceipt.model.js"></script>
    <script src="~/app_development/models/FundTrackReceiptComment.model.js"></script>
    <script src="~/app_development/models/FundTrackReceiptType.model.js"></script>
    <script src="~/app_development/models/FundTrackSubservicer.model.js"></script>

    <!-- App Modules -->
    <script src="~/app_development/services/services.module.js"></script>
    <script src="~/app_development/home/home.module.js"></script>
    <script src="~/app_development/widgets/widgets.module.js"></script>
    <script src="~/app_development/receipts/receipts.module.js"></script>
    <script src="~/app_development/app.core.js"></script>
    <script src="~/app_development/app.js"></script>
    <script src="~/app_development/app.run.js"></script>

    <!-- Services -->
    <script src="~/app_development/services/resource.builder.js"></script>
    <script src="~/app_development/services/receipts.services.js"></script>
    <script src="~/app_development/services/apiendpoints.services.js"></script>

    <!-- Routing -->


    <script src="~/app_development/home/home.routes.js"></script>
    <script src="~/app_development/receipts/receipt.routes.js"></script>

    <!-- Configuration -->

    <script src="~/app_development/app.config.js"></script>


<!-- Directives -->
    <script src="~/app_development/widgets/currencyMask.js"></script>

<!-- Controllers -->


    <script src="~/app_development/home/home.controller.js"></script>
    <script src="~/app_development/receipts/receipts.controller.js"></script>
<script src="~/app_development/receipts/receiptDetail.controller.js"></script>
    <script src="~/app_development/receipts/newreceipt.controller.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
